

body {
  display: flex;       /* Establece el cuerpo como un contenedor flexbox */         
  justify-content: center;     /*  para centrar horizontalmente */
  align-items: center;         /* para centrar verticalmente */
  min-height: 100vh;           /* en este caso  body ocupa el 100% del alto de la pantalla  */
  margin: 0;                   /* Quita los margenes del navegaro que se tenia por defeceto*/
  background-color: yellow;   /* Un color de fondo para la página */
}
.bg{
    background-color: red;
    width: 1000px;
    height: 700px;
    display: flex;   
    justify-content: center;     /*  para centrar horizontalmente */
    align-items: center;        /* para centrar verticalmente */
}

.telefono{
    background-color: blue;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;     /*  para centrar horizontalmente */
    align-items: center;   
}
.cuerpo {
    background-color: #c4c2c5;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;      /* Apila los hijos verticalmente */
    justify-content: flex-start; /* Empuja los hijos al inicio (arriba) */
    align-items: center;
    border-radius: 20px;
}





.cuerpo .seccion-camaras{
    display: flex; 
    justify-content: start; 
    align-items: center; 
    background-color:#f8f7f5;
    flex-direction: row; /* Alinea las cámaras horizontalmente */
    width: 250px;
    height: 70px;
    margin-top: 40px; /* Espacio entre la cabeza y las cámaras */
}
.cuerpo .seccion-camaras .camaras{
    background-color: black;
    width: 110px;
    height: 50px;
    border-radius: 41%; /* Hace que las cámaras sean circulares */
    margin-left: 40px; /* Espacio entre las cámaras */
    display: flex;
    flex-direction: row; /* Alinea las cámaras horizontalmente */
    justify-content: start; /* Centra el contenido dentro de las cámaras */
    align-items: center; /* Centra el contenido dentro de las cámaras */

}

.lente1 {
    width: 12px;
    height: 12px;
    background: radial-gradient(circle at 35% 35%, #555, #111);  /*  gradiente da profundidad */
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Anillos tipo cebolla usando  box-shadow */
    box-shadow: 
        0 0 0 3px #2a2a2a,   /* anillo 1 - interno */
        0 0 0 5px #444,      /* anillo 2 */
        0 0 0 7px #222;      /* anillo 3 - externo */
}

.lente2 {
    width: 10px;
    height: 10px;
    background: radial-gradient(circle at 35% 35%, #555, #111); /*  gradiente da profundidad, osea que crea un  degradado que se expande en forma de círculo o elipse desde un punto central hacia afuera.  */
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        0 0 0 3px #2a2a2a,
        0 0 0 5px #444,
        0 0 0 7px #222;
}

.lente3 {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 35% 35%, #555, #111);
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        0 0 0 3px #2a2a2a,
        0 0 0 6px #444,
        0 0 0 9px #222;
}

/* va a ser el reflejo peque;o que se ve en esquina superior izquierda */
.reflejo1 {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
 
}
.reflejo2{
        width: 4px;
        height: 4px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
}

.reflejo3{
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;

}
.reflejo4{
    width: 1px;
    height: 1px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.sensor{
    background-color: #2a2a2a;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    margin-left: 40px;
   
}

.flash{
    background-color: #c1d1d2;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        0 0 0 3px #c1d1d2,   /* anillo 1 - interno */
        0 0 0 5px #bfc2ca;    /* anillo 2 */



}

.google{
     color: #ceb9b0;
    font-size: 40px;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
      
    padding: 5px;
}

.cuerpo .logo {
    display: flex;
    justify-content: center;   /* centra horizontalmente */
    align-items: center;       /* centra verticalmente */
    flex: 1;                   /* ocupa todo el espacio restante del .cuerpo */
    width: 100%;
    margin-bottom: 110px; 


}



