

body {
  display: flex;       /* Establece el cuerpo como un contenedor flexbox */         
  justify-content: center;     /*  para centrar horizontalmente */
  align-items: center;         /* para centrar verticalmente */
  min-height: 100vh;           /* en este caso  body ocupa el 100% del alto de la pantalla  */
  margin: 0;                   /* Quita los margenes del navegaro que se tenia por defeceto*/
  background-color: yellow;   /* Un color de fondo para la página */
}
.bg{
    background-color: red;
    width: 1000px;
    height: 700px;
    display: flex;   
    justify-content: center;     /*  para centrar horizontalmente */
    align-items: center;        /* para centrar verticalmente */
}

.telefono{
    background-color: blue;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;     /*  para centrar horizontalmente */
    align-items: center;   
}
.cuerpo {
    background-color: green;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;      /* Apila los hijos verticalmente */
    justify-content: flex-start; /* Empuja los hijos al inicio (arriba) */
    align-items: center;
    border-radius: 20px;
}

.cuerpo .logo {
    display: flex;
    justify-content: center;   /* centra horizontalmente */
    align-items: center;       /* centra verticalmente */
    flex: 1;                   /* ← ocupa todo el espacio restante del .cuerpo */
    width: 100%;
}

.cuerpo .seccion-camaras{
    display: flex; /* Importante: permite que los hijos se posicionen respecto a la cabeza */
    justify-content: start; /* Alinea la cabeza a la derecha del cuerpo */
    align-items: center; /* Centra verticalmente la cabeza respecto al cuerpo */
    background-color: #8B4513; /* Un café perruno */
    flex-direction: row; /* Alinea las cámaras horizontalmente */
    width: 250px;
    height: 70px;
    margin-top: 40px; /* Espacio entre la cabeza y las cámaras */
}
.cuerpo .seccion-camaras .camaras{
    background-color: black;
    width: 110px;
    height: 50px;
    border-radius: 41%; /* Hace que las cámaras sean circulares */
    margin-left: 40px; /* Espacio entre las cámaras */

}





